In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow import keras

In [3]:
train_fd0001 = pd.read_csv("./CMAPSSData/train_FD001.txt", sep=' ', header=None)
test_fd0001 = pd.read_csv("./CMAPSSData/test_FD001.txt", sep=' ', header=None)
print(train_fd0001.head())
print(test_fd0001.head())

   0   1       2       3      4       5       6        7        8      9   \
0   1   1 -0.0007 -0.0004  100.0  518.67  641.82  1589.70  1400.60  14.62
1   1   2  0.0019 -0.0003  100.0  518.67  642.15  1591.82  1403.14  14.62
2   1   3 -0.0043  0.0003  100.0  518.67  642.35  1587.99  1404.20  14.62
3   1   4  0.0007  0.0000  100.0  518.67  642.35  1582.79  1401.87  14.62
4   1   5 -0.0019 -0.0002  100.0  518.67  642.37  1582.85  1406.22  14.62

   ...       18      19    20   21    22     23     24       25  26  27
0  ...  8138.62  8.4195  0.03  392  2388  100.0  39.06  23.4190 NaN NaN
1  ...  8131.49  8.4318  0.03  392  2388  100.0  39.00  23.4236 NaN NaN
2  ...  8133.23  8.4178  0.03  390  2388  100.0  38.95  23.3442 NaN NaN
3  ...  8133.83  8.3682  0.03  392  2388  100.0  38.88  23.3739 NaN NaN
4  ...  8133.80  8.4294  0.03  393  2388  100.0  38.90  23.4044 NaN NaN

[5 rows x 28 columns]
   0   1       2       3      4       5       6        7        8      9   \
0   1   1  0.0023  0.0003  100.0  518.67  643.02  1585.29  1398.21  14.62
1   1   2 -0.0027 -0.0003  100.0  518.67  641.71  1588.45  1395.42  14.62
2   1   3  0.0003  0.0001  100.0  518.67  642.46  1586.94  1401.34  14.62
3   1   4  0.0042  0.0000  100.0  518.67  642.44  1584.12  1406.42  14.62
4   1   5  0.0014  0.0000  100.0  518.67  642.51  1587.19  1401.92  14.62

   ...       18      19    20   21    22     23     24       25  26  27
0  ...  8125.55  8.4052  0.03  392  2388  100.0  38.86  23.3735 NaN NaN
1  ...  8139.62  8.3803  0.03  393  2388  100.0  39.02  23.3916 NaN NaN
2  ...  8130.10  8.4441  0.03  393  2388  100.0  39.08  23.4166 NaN NaN
3  ...  8132.90  8.3917  0.03  391  2388  100.0  39.00  23.3737 NaN NaN
4  ...  8129.54  8.4031  0.03  390  2388  100.0  38.99  23.4130 NaN NaN

[5 rows x 28 columns]

In [4]:
train_fd0001.describe()
test_fd0001.describe()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
count,13096.000000,13096.000000,13096.000000,13096.000000,13096.0,13096.00,13096.000000,13096.000000,13096.000000,1.309600e+04,...,13096.000000,13096.000000,1.309600e+04,13096.000000,13096.0,13096.0,13096.000000,13096.000000,0.0,0.0
mean,51.543907,76.836515,-0.000011,0.000004,100.0,518.67,642.475088,1588.099204,1404.735362,1.462000e+01,...,8138.947817,8.425844,3.000000e-02,392.571625,2388.0,100.0,38.892502,23.335743,NaN,NaN
std,28.289423,53.057749,0.002203,0.000294,0.0,0.00,0.400899,5.003274,6.688309,1.776425e-15,...,10.188605,0.029009,1.040874e-17,1.233577,0.0,0.0,0.141681,0.084120,NaN,NaN
min,1.000000,1.000000,-0.008200,-0.000600,100.0,518.67,641.130000,1569.040000,1384.390000,1.462000e+01,...,8108.500000,8.332800,3.000000e-02,389.000000,2388.0,100.0,38.310000,22.935400,NaN,NaN
25%,28.000000,33.000000,-0.001500,-0.000200,100.0,518.67,642.197500,1584.600000,1399.950000,1.462000e+01,...,8132.310000,8.405600,3.000000e-02,392.000000,2388.0,100.0,38.800000,23.281600,NaN,NaN
50%,52.000000,69.000000,0.000000,0.000000,100.0,518.67,642.460000,1587.990000,1404.440000,1.462000e+01,...,8138.390000,8.424900,3.000000e-02,393.000000,2388.0,100.0,38.900000,23.339200,NaN,NaN
75%,76.000000,113.000000,0.001500,0.000300,100.0,518.67,642.740000,1591.362500,1409.050000,1.462000e+01,...,8144.360000,8.444300,3.000000e-02,393.000000,2388.0,100.0,38.990000,23.393600,NaN,NaN
max,100.000000,303.000000,0.007800,0.000700,100.0,518.67,644.300000,1607.550000,1433.360000,1.462000e+01,...,8220.480000,8.541400,3.000000e-02,397.000000,2388.0,100.0,39.410000,23.641900,NaN,NaN

In [7]:
train_fd0001.drop(labels=[26, 27], axis=1, inplace=True)
train_fd0001.describe()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
count,20631.000000,20631.000000,20631.000000,20631.000000,20631.0,20631.00,20631.000000,20631.000000,20631.000000,2.063100e+04,...,20631.000000,20631.000000,20631.000000,20631.000000,2.063100e+04,20631.000000,20631.0,20631.0,20631.000000,20631.000000
mean,51.506568,108.807862,-0.000009,0.000002,100.0,518.67,642.680934,1590.523119,1408.933782,1.462000e+01,...,521.413470,2388.096152,8143.752722,8.442146,3.000000e-02,393.210654,2388.0,100.0,38.816271,23.289705
std,29.227633,68.880990,0.002187,0.000293,0.0,0.00,0.500053,6.131150,9.000605,1.776400e-15,...,0.737553,0.071919,19.076176,0.037505,1.387812e-17,1.548763,0.0,0.0,0.180746,0.108251
min,1.000000,1.000000,-0.008700,-0.000600,100.0,518.67,641.210000,1571.040000,1382.250000,1.462000e+01,...,518.690000,2387.880000,8099.940000,8.324900,3.000000e-02,388.000000,2388.0,100.0,38.140000,22.894200
25%,26.000000,52.000000,-0.001500,-0.000200,100.0,518.67,642.325000,1586.260000,1402.360000,1.462000e+01,...,520.960000,2388.040000,8133.245000,8.414900,3.000000e-02,392.000000,2388.0,100.0,38.700000,23.221800
50%,52.000000,104.000000,0.000000,0.000000,100.0,518.67,642.640000,1590.100000,1408.040000,1.462000e+01,...,521.480000,2388.090000,8140.540000,8.438900,3.000000e-02,393.000000,2388.0,100.0,38.830000,23.297900
75%,77.000000,156.000000,0.001500,0.000300,100.0,518.67,643.000000,1594.380000,1414.555000,1.462000e+01,...,521.950000,2388.140000,8148.310000,8.465600,3.000000e-02,394.000000,2388.0,100.0,38.950000,23.366800
max,100.000000,362.000000,0.008700,0.000600,100.0,518.67,644.530000,1616.910000,1441.490000,1.462000e+01,...,523.380000,2388.560000,8293.720000,8.584800,3.000000e-02,400.000000,2388.0,100.0,39.430000,23.618400

In [8]:
test_fd0001.drop(labels=[26, 27], axis=1, inplace=True)
test_fd0001.describe()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
count,13096.000000,13096.000000,13096.000000,13096.000000,13096.0,13096.00,13096.000000,13096.000000,13096.000000,1.309600e+04,...,13096.000000,13096.000000,13096.000000,13096.000000,1.309600e+04,13096.000000,13096.0,13096.0,13096.000000,13096.000000
mean,51.543907,76.836515,-0.000011,0.000004,100.0,518.67,642.475088,1588.099204,1404.735362,1.462000e+01,...,521.747724,2388.071025,8138.947817,8.425844,3.000000e-02,392.571625,2388.0,100.0,38.892502,23.335743
std,28.289423,53.057749,0.002203,0.000294,0.0,0.00,0.400899,5.003274,6.688309,1.776425e-15,...,0.559627,0.056934,10.188605,0.029009,1.040874e-17,1.233577,0.0,0.0,0.141681,0.084120
min,1.000000,1.000000,-0.008200,-0.000600,100.0,518.67,641.130000,1569.040000,1384.390000,1.462000e+01,...,519.380000,2387.890000,8108.500000,8.332800,3.000000e-02,389.000000,2388.0,100.0,38.310000,22.935400
25%,28.000000,33.000000,-0.001500,-0.000200,100.0,518.67,642.197500,1584.600000,1399.950000,1.462000e+01,...,521.380000,2388.030000,8132.310000,8.405600,3.000000e-02,392.000000,2388.0,100.0,38.800000,23.281600
50%,52.000000,69.000000,0.000000,0.000000,100.0,518.67,642.460000,1587.990000,1404.440000,1.462000e+01,...,521.780000,2388.070000,8138.390000,8.424900,3.000000e-02,393.000000,2388.0,100.0,38.900000,23.339200
75%,76.000000,113.000000,0.001500,0.000300,100.0,518.67,642.740000,1591.362500,1409.050000,1.462000e+01,...,522.150000,2388.110000,8144.360000,8.444300,3.000000e-02,393.000000,2388.0,100.0,38.990000,23.393600
max,100.000000,303.000000,0.007800,0.000700,100.0,518.67,644.300000,1607.550000,1433.360000,1.462000e+01,...,523.760000,2388.320000,8220.480000,8.541400,3.000000e-02,397.000000,2388.0,100.0,39.410000,23.641900

In [9]:
train_fd0001.drop(labels=[4, 5, 22 ,23], axis=1, inplace=True)
train_fd0001.describe()
test_fd0001.drop(labels=[4, 5, 22, 23], axis=1, inplace=True)
test_fd0001.describe()

,0,1,2,3,6,7,8,9,10,11,...,14,15,16,17,18,19,20,21,24,25
count,13096.000000,13096.000000,13096.000000,13096.000000,13096.000000,13096.000000,13096.000000,1.309600e+04,13096.000000,13096.000000,...,1.309600e+04,13096.000000,13096.000000,13096.000000,13096.000000,13096.000000,1.309600e+04,13096.000000,13096.000000,13096.000000
mean,51.543907,76.836515,-0.000011,0.000004,642.475088,1588.099204,1404.735362,1.462000e+01,21.609701,553.757523,...,1.300000e+00,47.416204,521.747724,2388.071025,8138.947817,8.425844,3.000000e-02,392.571625,38.892502,23.335743
std,28.289423,53.057749,0.002203,0.000294,0.400899,5.003274,6.688309,1.776425e-15,0.001704,0.681286,...,2.220531e-16,0.195917,0.559627,0.056934,10.188605,0.029009,1.040874e-17,1.233577,0.141681,0.084120
min,1.000000,1.000000,-0.008200,-0.000600,641.130000,1569.040000,1384.390000,1.462000e+01,21.600000,550.880000,...,1.300000e+00,46.800000,519.380000,2387.890000,8108.500000,8.332800,3.000000e-02,389.000000,38.310000,22.935400
25%,28.000000,33.000000,-0.001500,-0.000200,642.197500,1584.600000,1399.950000,1.462000e+01,21.610000,553.310000,...,1.300000e+00,47.270000,521.380000,2388.030000,8132.310000,8.405600,3.000000e-02,392.000000,38.800000,23.281600
50%,52.000000,69.000000,0.000000,0.000000,642.460000,1587.990000,1404.440000,1.462000e+01,21.610000,553.800000,...,1.300000e+00,47.410000,521.780000,2388.070000,8138.390000,8.424900,3.000000e-02,393.000000,38.900000,23.339200
75%,76.000000,113.000000,0.001500,0.000300,642.740000,1591.362500,1409.050000,1.462000e+01,21.610000,554.240000,...,1.300000e+00,47.540000,522.150000,2388.110000,8144.360000,8.444300,3.000000e-02,393.000000,38.990000,23.393600
max,100.000000,303.000000,0.007800,0.000700,644.300000,1607.550000,1433.360000,1.462000e+01,21.610000,555.840000,...,1.300000e+00,48.260000,523.760000,2388.320000,8220.480000,8.541400,3.000000e-02,397.000000,39.410000,23.641900

In [10]:
!pip install sklearn

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting sklearn
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting scikit-learn
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/9d/20/0ffe8665a44bce7616bd33d4368a198fecad3b226bcafa38c63ef0f6286f/scikit_learn-1.0.2-cp37-cp37m-win_amd64.whl (7.1 MB)
Requirement already satisfied: numpy>=1.14.6 in d:\workspace\nasa_dpm\venv_nasa_dpm\lib\site-packages (from scikit-learn->sklearn) (1.21.6)
Collecting scipy>=1.1.0
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/40/69/4af412d078cef2298f7d90546fa0e03e65a032558bd85319239c72ae0c3c/scipy-1.7.3-cp37-cp37m-win_amd64.whl (34.1 MB)
Collecting threadpoolctl>=2.0.0
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/61/cf/6e354304bcb9c6413c4e02a747b600061c21d38ba51e7e544ac7bc66aecc/threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting joblib>=0.11
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/3e/d5/0163eb0cfa0b673aa4fe1cd3ea9d8a81ea0f32e50807b0c295871e4aab2e/joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=f2b0aed10062aa25d5ff62d4f81ae1526211f2763203db425146ce1e1e9ce5fd
  Stored in directory: c:\users\15081\appdata\local\pip\cache\wheels\fd\ab\fb\a008fc45aa0b0e83bafb083e5e010f94cd11d988befec978af
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 scipy-1.7.3 sklearn-0.0 threadpoolctl-3.1.0

In [15]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

In [26]:
pca = PCA(n_components='mle', whiten=False)
min_max_sca = MinMaxScaler()
# train_fd0001_sca = min_max_sca.fit_transform(train_fd0001)
# train_fd0001_sca
# train_fd0001_pca = pca.fit_transform()
# train_fd0001_pca

,0,1,2,3,6,7,8,9,10,11,...,14,15,16,17,18,19,20,21,24,25
0,1,1,-0.0007,-0.0004,641.82,1589.70,1400.60,14.62,21.61,554.36,...,1.3,47.47,521.66,2388.02,8138.62,8.4195,0.03,392,39.06,23.4190
1,1,2,0.0019,-0.0003,642.15,1591.82,1403.14,14.62,21.61,553.75,...,1.3,47.49,522.28,2388.07,8131.49,8.4318,0.03,392,39.00,23.4236
2,1,3,-0.0043,0.0003,642.35,1587.99,1404.20,14.62,21.61,554.26,...,1.3,47.27,522.42,2388.03,8133.23,8.4178,0.03,390,38.95,23.3442
3,1,4,0.0007,0.0000,642.35,1582.79,1401.87,14.62,21.61,554.45,...,1.3,47.13,522.86,2388.08,8133.83,8.3682,0.03,392,38.88,23.3739
4,1,5,-0.0019,-0.0002,642.37,1582.85,1406.22,14.62,21.61,554.00,...,1.3,47.28,522.19,2388.04,8133.80,8.4294,0.03,393,38.90,23.4044

In [66]:
train_fd0001[1].max()

362

In [64]:
pca = PCA(n_components=16, whiten=False)
min_max_sca = MinMaxScaler()
min_case = train_fd0001[0].min()
max_case = train_fd0001[0].max()
inputs_seq = list()
for i in range(min_case, max_case+1):
    data = train_fd0001[train_fd0001[0]==i].drop(columns=[0, 1]).values
    data = pca.fit_transform(data)
    data = min_max_sca.fit_transform(data)
    inputs_seq.append(data)

In [65]:
inputs_pad = keras.preprocessing.sequence.pad_sequences(inputs_seq,maxlen=200)
inputs_pad.shape

(100, 200, 16)

In [32]:
x = keras.Input(shape=(None, None, 20))
x = keras.layers.LSTM(32)(x)

100